/*Debut du header*/

header {
    width: auto;
    height: 100px;
}



#conteneur {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: 14px;
    font: 13px/27px Roboto, Arial, sans-serif;
}

/*Alignement a droite header*/
.element {
    margin: 15px;
    align-items: flex-end;
}

/*Icone compte google*/
.element:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.icone_compte_G {
    border-radius: 25px;
    width: 35px;
    height: 35px;
}
.icone_appli {
    width: 30px;
    height: 30px;
}

.element:nth-child(1) {
    color: #fff;
    text-decoration: none;
    padding-top: 5px;
}

.element:nth-child(2) {
    padding-top: 5px;
}

a:link {

    color: #265301;

}

a {
    text-decoration: none;
}

/*Fin du header*/

/*Debut du bloc du milieu*/


.div_centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;


}

.bloc {
    width: auto;
    height: 500px;
}

/*Logo*/
.logo {
    background-color: #fff;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;

    width: 30%;
    height: 30%;
}

/*Barre de recherche*/
.barre_de_recherche {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 600px;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;

}

.wrap {
    width: max-content;
    height: max-content;
    position: absolute;
    display: flex;


    justify-content: space-around;
    align-items: center;

    border: 2px solid #000000;
    border-radius: 24px;
}

.searchButton {
    width: 35px;
    height: 35px;

    background: #ffffff;
    text-align: center;
    color: #fff;
    border-radius: 24px;

    cursor: pointer;
    font-size: 20px;
    border: none;

}

.button_micro {
    width: 35px;
    height: 35px;
    background: #ffffff;
    border-radius: 24px;
    border: none;

}

.searchTerm {

    width: 500px;
    height: 30px;

    border: none;
    outline: none;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.loupe {
    width: 20px;
    height: 20px;
}
.microIcone{
    width: 20px;
    height: 20px;
}

/*Boutton de recherche*/
.div_button {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    position: absolute;
    


}

.searchButton2 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}
.searchButton2:hover{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}

.luckyButton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.luckyButton:hover{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    text-overflow: test;
}

.div_translate {
    text-align: center;
    color: #4d5156;
    font-size: small;
    font-family: arial, sans-serif;
    position: absolute;
    margin-top: 15%;

}

/*Debut du Footer*/
footer {

    width: auto;
    height: max-content;

    background-color: #f2f2f2;

    font-family: arial, sans-serif;
}

.div_loc {
    
    padding: 5px;
    margin-left: 10px;

    font-size: 15px;
    color: #70757a;

}

.div_footer_signature {

    width: auto;
    height: max-content;

    color: #70757a;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-top: #000000 1px solid;

    justify-content: center;
    align-items: center;

}

.feuille {
    margin: 2px;
    width: 10px;
    height: 10px;
}

.div_footer_link {
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    background-color: #f2f2f2;

    color: #202124;
    padding-left: 5%;
    padding-right: 5%;


}

/*Fin du Footer*/